.sidenav {
	height: 100vh;
	width: 400px;
	background-color: #333;
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: transform 0.25s ease-in-out;
	transform: translate(400px);
	z-index: 500;
}

.sidenav-show {
	transform: translate(0px);
}

#sidenav-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 400;
	display: none;
}

.sidenav-overlay-show {
	display: block;
}

.logo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #eee;
	margin: 10px 0;
	color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
}

.navItem {
	padding: 10px;
	font-size: 20px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.navItem:hover {
	color: #ffce00;
}

.sideNavName {
	width: 80%;
	margin: 0 auto 10px;
	font-size: 18px;
	font-style: italic;
	padding: 0 0 10px 0;
	border-bottom: 4px solid #222;
	text-align: center;
	color: white;
}
