.top-nav {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b0b0b;
    color: #fff;
    z-index: 3;
    width: 100vw;
    margin: -100px -100px 30px;
    padding: 15px;
}

#top-nav-branding {
    font-size: larger;
}

#home-btn {
    font-size: xx-large;
    width: 50px;
    height: 50px;
    background-color: #ffe800;
    text-align: center;
    color: black;
    transform: scale(0.75);
}

#sidenav-crumbs {
    transform: scale(0.75);
}

.width-70 {
    width: 70%;
}

.width-25 {
    width: 25%;
}

.vertical-align-top {
    vertical-align: top;
}

.page-description-box {
    width: 100%;
    text-align: center;
}

.bck-grey {
    background-color: #f9f9f9;
}