.footer {
	padding: 20px;
	background-color: #333;
}

.socialLinks {
    padding: 25px 0 0 0;
}

.footerDesc {
	color: #fff;
}

.footerLink {
	display: inline-block;
	padding: 15px;
	background-color: white;
	color: #333;
	margin: 0 10px;
	border-radius: 50%;
	cursor: pointer;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 18px;
}

.footerLink:hover {
	background-color: #ffce00;
}

/* Mobile only styling */
@media only screen and (max-width: 768px) {
    .footer {
        text-align: center;
    }
    .footerDesc {
        padding: 10px;
        border-bottom: 1px solid #fff;
    }
}

/* Desktop only styling */
@media only screen and (min-width: 768px) {
    .footer {
        display: flex;
        align-content: space-around;
        align-items: center;
    }
    .socialLinks {
        padding: 0;
    }
}


