.footer {
	padding: 20px 35px 50px;
	background-color: black;
}

.footerLeft {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	color: #ccc;
	font-size: 17px;
}

.footerMiddle {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	height: 0;
}

.footerRight {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	padding: 25px 0 0 0;
}

.footerRightBottomInfo {
	display: block;
	color: #888;
	padding: 5px 15px;
	font-size: 15px;
}

.footerLink {
	display: inline-block;
	padding: 15px;
	color: #ffe800;
	margin: 0 5px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	font-size: 18px;
}

/* Mobile only styling */
@media only screen and (max-width: 768px) {
	.footer {
		text-align: center;
	}
	.footerDesc {
		padding: 10px;
		border-bottom: 1px solid #fff;
	}
}

/* Desktop only styling */
@media only screen and (min-width: 768px) {
	.footer {
		display: flex;
		align-content: space-around;
		align-items: center;
	}
	.socialLinks {
		padding: 0;
	}
}
