.card {
	position: relative;
	height: 330px;
	margin: 10px;
	background-color: #000;
	overflow: hidden;
	cursor: pointer;
}

.card-2x {
	height: 600px;
}

.card-bck {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.card:hover .overlay {
	background-color: #ffce00;
	opacity: 0.95;
}

.card:hover .title {
	transform: translateY(-10px);
	opacity: 1;
}

.card:hover .sub-title {
	transform: translateY(-10px);
	opacity: 1;
}

.card:hover .card-play {
	transform: translate(-50%, -50%);
	opacity: 1;
}

.card-play {
	position: absolute;
	font-size: 80px;
	color: #c4302b;
	left: 50%;
	top: 48%;
	transform: translate(-50%, -45%);
	opacity: 0;
	transition: all 1s;
}

.overlay {
	position: absolute;
	top: 0;
	background-color: #000;
	width: 100%;
	height: 100%;
	opacity: 0.25;
	transition: opacity 0.2s;
}

.title,
.sub-title {
	position: absolute;
	left: 10px;
	margin: 0;
	padding: 0;
	transform: translateY(0px);
	transition: all 1s;
	opacity: 0;
}

.title {
	text-transform: capitalize;
	background-color: black;
	color: #fff;
	bottom: 30px;
	padding: 2px;
}

.sub-title {
	font-size: 14px;
	bottom: 10px;
}
